
<div class="card">
    <div class="card-header">
        User Panel
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/account.html">
                <i class="fa fa-fw fa-user"></i>
                Account Info
            </a>
        </li>
        <li class="list-group-item">
            <a href="/transaction.html">
                <i class="fa fa-fw fa-shopping-cart"></i>
                Transactions
            </a>
        </li>
        <li class="list-group-item">
            <a href="/logout.html">
                <i class="fas fa-fw fa-sign-out-alt"></i>
                Logout
            </a>
        </li>
    </ul>
</div>
