<!-- Start Footer -->
<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="text-light border-bottom pb-3 border-light logo">Belisoftware.com</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        Jakarta Barat
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <span class="text-decoration-none">
                            <img src="../assets/img/phone-light.png" alt="phn" style="height: 1.8rem">
                        </span>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:info@belisoftware.com">info@belisoftware.com</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h3 class="h3 text-light border-bottom pb-3 border-light">Products</h3>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="/products.html?cat=software-erp">Software ERP</a></li>
                    <li><a class="text-decoration-none" href="/products.html?cat=software-crm">Software CRM</a></li>
                    <li><a class="text-decoration-none" href="/products.html?cat=software-komputer">Software Komputer</a></li>
                    <li><a class="text-decoration-none" href="/products.html?cat=mobile-apps">Aplikasi Mobile</a></li>
                    <li><a class="text-decoration-none" href="/products.html?cat=website-templates">Website template</a></li>
                    <li><a class="text-decoration-none" href="/products.html?cat=ai-machine-learning">AI / Machine Learning</a></li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h3 class="h3 text-light border-bottom pb-3 border-light">Further Info</h3>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="/">Home</a></li>
                    <li><a class="text-decoration-none" href="/about.html">About Us</a></li>
                    <li><a class="text-decoration-none" href="/faq.html">FAQs</a></li>
                    <li><a class="text-decoration-none" href="/contact.html">Contact</a></li>
                </ul>
            </div>

        </div>

    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2023 Belisoftware.com
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>
